<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de usuarios</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="container bg-light rounded mt-3 shadow p-3 mb-5 bg-body rounded">
        <form action="" method="POST">
            {{error}}
            {% csrf_token %}
            <div class="mb-3">
                <h1>Crear usuarios</h1>
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input
                    type="text"
                    name="username"
                    id="username" 
                    class="form-control" 
                    placeholder="Escriba su usuario">
                </div>

                <div class="mb-3">
                    <label for="first_name">Nombre:</label>
                    <input
                    type="text"
                    name="first_name"
                    id="first_name" 
                    class="form-control" 
                    placeholder="Escriba Nombre">
                </div>

                <div class="mb-3">
                    <label for="last_name">Apellido:</label>
                    <input
                    type="text"
                    name="last_name"
                    id="last_name" 
                    class="form-control" 
                    placeholder="Escriba Apellido">
                </div>

                <div class="mb-3">
                    <label for="email">Correo:</label>
                    <input 
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Escriba Correo">
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input 
                    type="password" 
                    name="password1" 
                    id="password1" 
                    class="form-control" 
                    placeholder="Escriba Contraseña">
                </div>

                <div class="mb-3">
                    <label for="password2">Confirme la Contraseña:</label>
                    <input 
                    type="password" 
                    name="password2" 
                    id="password2" 
                    class="form-control" 
                    placeholder="Confirme la Contraseña">
                </div>

                <button class="btn btn-primary">
                    Crear
                </button>
            </div>
            
        </form>
    </main>
    {% endblock %}
</body>
</html>