<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <main class="container-sm bg-light rounded mt-3 shadow p-3 mb-5 bg-body rounded" style="width: 500px;">
        <h1 class="text-center">Departamentos</h1>


        <ul class="list-group list-group-flush">
            {% for depart in departs %}

            <li class="list-group-item">
                <a href="{% url 'staff' depart.id %}" class="list-group-item list-group-item-action">
                    {{depart}}
                </a>
            </li>
            {% endfor %}
          </ul>
    </main>
    

    {% endblock %}
</body>
</html>