<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <main class="container bg-light rounded mt-3 shadow p-3 mb-5 bg-body rounded">
        <h1 class="text-center pb-5">Bienvenido/a {{user}}</h1>

        <div class="container">
            <div class="row justify-content-evenly">
              <div class="col-4">
                <h5 class="text-center">Misión</h5>
                    <div class="text-center">Crear, mantener y marcar la diferencia de nuesotro servicios y asesoria de nuestro productos adaptados a 
                    las necesidades y exigencias de los clientes, con la excelencia que nos caracteriza en nuestra materia prima.</div>
              </div>
              <div class="col-4">
                <h5 class="text-center">Visión</h5>
                <div class="text-center">Ser reconocidos como la muebleria de referencia nacional e internaional porque ofrecemos productos 
                    para el hogar y oficina con materia de primera calidad, brindando soluciones y asesoramiento 
                    personalizado para cada uno de nuestros clientes.</div>
              </div>
            </div>
        </div>
    </main>

    

    {% endblock %}
</body>
</html>