{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=""><link rel="icon" href="{% static 'images/logo_gdc.ico' %}">
    <title>SARP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/9f62b55419.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body class="bg-uniq">
    <main class="container">
        <div class="row mt-5">
            <section class="col-md-4 offset-md-4 mt-5 card-login">
                <form method="POST" class="card card-body">
                    <h1 id="text-login">SARP</h1>
                    {{error}}
                    {% csrf_token %}

                    <div class="login-group">
                        <label class="lbl-login"for="username"><i class="fa-solid fa-user"></i></label>
                        <input
                        type="text"
                        name="username"
                        id="username" 
                        class="input-login" 
                        placeholder="Escriba su usuario"
                        maxlength="20"
                        />
                    </div>

                    <div class="login-group">
                        <label class="lbl-login" for="password"><i class="fa-solid fa-key"></i></label>
                        <input 
                        type="password"
                        name="password"
                        id="password"
                        class="input-login"
                        placeholder="Escriba su contraseña"
                        />
                    </div>

                    <button class="submit-login">
                        Signin
                    </button>
                </form>
            </section>    
        </div>
        <div id="position-sticky">
            
        <center>
            <img id="logo" src="{% static 'images/gdc-fondo.png' %}">
            <img id="login-img" src="{% static 'images/logo_gdc.png' %}"></center>
        </div>
    </main>
</body>
</html>