<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <main class="container bg-light rounded mt-3 shadow p-3 mb-5 bg-body rounded" style="width: 500px;">
        <h1>{{eval}}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pregunta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in quests %}
                    <tr>
                        <td>{{quest.question}}</td>
                        <td>
                            <select name="{{quest.id}}">
                                {% for answer in answers %}
                                    {% if answer.id == 1 %}
                                    <option value="{{quest.value}}">{{answer}}</option>
                                    {% else %}
                                    <option value="0">{{answer}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success">Completar</button>
        </form>
    </main>

    {% endblock %}
</body>
</html>