<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <main class="container bg-light rounded mt-3 shadow p-3 mb-5 bg-body rounded">
        <a class="btn btn-success" href="{% url 'sign_up'%}">
            Crear Usuario
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ultima conexión</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.last_login}}</td>
                    <td><a class="btn btn-primary" href="{% url 'user_edit' user.id %}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete_user' user.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

    {% endblock %}
</body>
</html>