
body {
<<<<<<< HEAD
    background-image: url("fondo.jpg");
    background-size: cover;
=======
    background-image: url("{% stacti 'fondo.jpg' %}");
    background-color: rgb(65, 65, 65); 
>>>>>>> 0d8e2fc17267deaac6b35aad5b134d23a1a02326
}

